[alias]
	co = checkout
	st = status --show-stash
	sw = switch
[user]
	email = 1664052+VeryBadFrags@users.noreply.github.com
	name = VeryBadFrags
[core]
	excludesFile = ~/.config/.gitignore_global
	editor = nvim
	pager = delta
[pull]
	rebase = true
[push]
	autoSetupRemote = true

[credential "https://github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential

# Git Delta https://github.com/dandavison/delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true    # use n and N to move between diff sections
    # delta detects terminal colors automatically; set one of these to disable auto-detection
    # dark = true
    # light = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
