[alias]
	co = checkout
	st = status --show-stash
	sw = switch
[user]
	email = 1664052+VeryBadFrags@users.noreply.github.com
	name = VeryBadFrags
[core]
	excludesFile = ~/.gitignore_global
	editor = nvim
[pull]
	rebase = true
[push]
	autoSetupRemote = true

[credential "https://github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/opt/homebrew/bin/gh auth git-credential
